  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  /* ------------------------- Header ----------------------------> */
  header {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .2em 3em;
    /* position: sticky;
    top: 10vh; */
  }
  .logo {
    width: 21em;
  }
  .logo:hover {
    cursor: pointer;
  }
  .callIcon {
    font-size: 1.8em;
  }

  .btnProfile{
    width: 2em;
    height: 1.5em;
    border: 1px solid grey;
    border-radius: 15%;
    font-size: 1.2em;
    margin-left: 4em;
  }
  .btnProfile:hover{cursor: pointer;}

  /* ------------------------- Navbar ----------------------------> */
  nav {
    border-bottom: 3px solid rgb(120, 26, 26);
    display: flex;
    justify-content: center;
    background: rgb(181, 39, 39);
    margin-top: .6em;
    flex-wrap: wrap;
    /* transition: 0.3s ease-in-out; */
  }
  .hamBurger{ display:none }
  nav a {
    text-decoration: none;
    border-right: 1px solid rgb(131, 31, 31);
    padding: .7em 1.5em;
    color: white;
    font-weight: 700;
  }
  nav a:hover {
    background: #ffffff;
    color: rgb(181, 39, 39);
  }

  /*------------ Register-Login Page ------------*/
  .register-Login{
    border: 1px solid rgb(255, 255, 255);
    height: 30em;
    background: url('https://img.freepik.com/free-photo/travel-navigation-journey-vacation-trip-telephone-concept_53876-127696.jpg?size=626&ext=jpg&ga=GA1.1.390521900.1707301617&semt=ais') no-repeat;
    background-size: cover;
    background-position: center;
  }
  .loginPage {
    border-radius: 10px;
    width: 45vw;
    /* height: 24em; */
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: roboto;
    background: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur(5px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 3em;
    gap: 1em;
  }
  .loginPage input {
    height: 2em;
    padding-left: 1em;
  }
  .loginPage p {
    font-weight: 600;
    color: orangered;
  }
  .loginPage p:hover {
    scale: 1.1;
    transition: 500ms;
    cursor: pointer;
  }
  .btnRegister,.btnLogin {
    width: 8em;
    height: 2.3em;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    background: rgb(255, 193, 78);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .signUp{
    background: rgba(255, 255, 255, 0.951);
    border-radius: 10px;
    width: 45%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    padding: 2.5em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .signUp p:hover{
    scale: 1.1;
    transition: 500ms;
    cursor: pointer;
  }
  .form-item {
    position: relative;
  }
  input:focus{ outline: none;}
  .form-item input {
      width: 25vw;
      height: 35px;
      margin: auto;
      padding: 0px 20px;
      border-radius: 5px;
      border: none;
      border-bottom: 1px solid grey;
      background: rgba(255, 255, 255, 0.911);
  }
  .form-item label {
      position: absolute;
      top: 8px;
      padding: 1px 10px;
      margin-left: 10px;
      pointer-events: none;
      background: rgba(255, 255, 255, 0.94);
      transition: .3s;
  }
  .form-item input:valid~label,.form-item input:focus~label {
      color: blue;
      transform: translateY(-17px);
      font-size: 13px;
  }

  /* ------------------------- Home Route ----------------------------> */
  h1,h2{
    text-align: center;
  }

  .homeTourHead,.homeTourPackages,.homeHolidayDestination,.styleTourPackages,.tourPackages,.placesToVisit,.toursOffers,.viewTourOffers {
    width: 90%;
    margin: 3em auto;
  }
  .homeTourHead p,.homeTourPackages p,.homeHolidayDestination p,.styleTourPackages p,.tourPackages p,.tourPlace p,.placesToVisit p,.toursOffers  p,.viewTourOffers p{
    margin: 0 0 10px;
    text-align: justify;
    font-size: 15px;
    padding: 5px;
    line-height: 1.7;
  }
  .homeTourHead b, .tourPackages b,.placesToVisit b,.toursOffers  b {
    color: rgb(189, 9, 9);
  }

  .idealTourPackage,.sectionTourpackages,.tourOffersCategory {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
  }
  .tourPackage:hover,.sectionTourTypes:hover,.tourOffersOptions:hover {
    cursor: pointer;
  }
  .tourPackage img,.sectionTourTypes img,.packageItems img,.tourOffersOptions img{
    width: 16em;
    object-fit: contain;
  }
  .tourPackage,.sectionTourTypes,.states,.tourOffersOptions {
    padding: .2em;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .tourPackage p,.destinations p,.sectionTourTypes p,.styleTourPackageOptions p,.packageItems p,.tourOffersOptions p {
    padding: .5em 0;
    text-align: center;
  }

  .holidayDestinations{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .6em;
  }
  .destinations,.packageItems{   
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: .2em;
  }
  .destinations img{
    width: 11em;
  }
  .destinations h4,.styleTourPackageOptions h4{
    border-bottom: 1px dashed grey;
    padding: .5em 0;
  }

  /* Ideal Tour Packages: Dynamic Page ----------------------------> */
  .tourPlace,.tourOptions {
    margin: 3em;
  }
  .tourOptions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
  }
  .tourOptions img,.viewTourOptions img {
    width: 16.7em;
  }
  .tourOptions p,.viewTourOptions p {
    padding: 1em 0;
    text-align: center;
  }
  .tourCategory {
    padding: .2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  /* ------------------------- India-Tourism Route ----------------------------> */


  /* ------------------------- Tour-Packages Route ----------------------------> */
  .indiaTourismImg,.tourPackagesImg,.styleTourImg,.placesToVisitImg{ 
    width: 100%;
  }
  .styleTourPackageCategory,.packagesThemes,.viewTourcategory{
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
  }
  .styleTourPackageOptions img{
    width: 17em;
  }
  .styleTourPackageOptions,.viewTourOptions{
    padding: .2em;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  /* ------------------------- Tour-Packages Route ----------------------------> */
  .visitStates{
    margin: 0 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5em;
  }
  .states{
    background: rgb(238, 238, 238);
  }
  .states h4{
    background: rgb(189, 9, 9);
    color: white;
    padding: .5em 0;
  }
  .states img{
    width: 17em;
    height: 8em;
  }
  .states li{
    text-align: left;
    padding: 5px;
    border-bottom: 1px dashed rgb(173, 173, 173);
  }
  .states li::marker{
    content: ">";
  }
  .div{
    margin-left: 1em;
  }
  .states p{
    background-color: #DFDADA;
    font-weight: 600;
    padding: .3em;
    color: rgb(189, 9, 9);
  }

  /* ------------------------- Contact US ----------------------------> */
  .container{
    border: 1px solid;
    background: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur(3px);
    width: 70%;
    height: 28em;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
  }
  .sectionLeft{
    /* border: 1px solid red; */
    width: 50%;
    background: url('https://img.freepik.com/free-photo/black-white-photo-modern-building_250224-279.jpg?size=626&ext=jpg&ga=GA1.1.390521900.1707301617&semt=ais') no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.777);
  }
  .sectionLeft ul{
    margin: 20% 4em;
  }
  .sectionLeft li{  margin: 2em 0;}
  .sectionRight{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionRight label{  font-size: 15px;}
  .sectionRight textarea{
    padding: 1em 0 0 1em;
  }

  .btnSend {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
   }
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   .front {
    display: block;
    position: relative;
    padding: 6px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   .btnSend:hover {
    filter: brightness(110%);
   }
   .btnSend:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
   }
   .btnSend:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   .btnSend:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   .btnSend:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   .btnSend:focus:not(:focus-visible) {
    outline: none;
   }

  /* ------------------------- Footer ----------------------------> */
  footer {
    margin: 1em 0;
  }
  .links {
    background: rgba(0, 0, 0, 0.847);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .1em 1em;
  }
  .links a {
    border-right: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 0 1em;
    margin: .6em 0;
    font-weight: 600;
  }
  .links a:hover {
    color: rgb(255, 142, 142);
  }
  section {
    margin: 0 2.5em;
    display: flex;
    justify-content: space-between;
  }
  .section_a {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .section_a h1 {
    color: rgb(207, 0, 0);
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: flex-end;
  }
  .mail {
    color: black;
  }
  .fb,
  .yt,
  .twitter {
    color: black;
    margin-right: 5px;
  }
  .fb{  color: rgb(42, 95, 255);}
  .twitter {
    color: rgb(52, 197, 255);
  }
  .yt {
    color: red;
  }
  .section_b {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-weight: 500;
    object-fit: contain;
  }
  .section_b img {
    width: 100%;
  }
  
  @media only screen and (max-width: 770px){
    .signUp,.loginPage{ width: 60%;}
    .container{
      width: 90%;
    }
    textarea{
      width: 90%;
    }
  }

  /* section{
    flex-direction: column;
    align-items: center;
  } */
  /* .section_a,.section_b{
    flex-direction: column;
    align-items: center;
  } */
  .section_b img {
    width: 100%;
  }

  @media only screen and (max-width: 450px){
    header{
      flex-direction: column-reverse;
    }
    .headerRight{
      text-align: end;
    }

    nav{
      flex-direction: column;
    }
    nav a{  background: green;}
    .hamBurger{ 
      display: block;
      position: absolute;
      top: 5vh;
      right: 4vw;
      width: 2em;
      height: 2em;
    }
    .hide{
      display: none;
    }

    .signUp,.loginPage{ width: 90%;}

    .container{
      flex-direction: column;
      height: auto;
    }
    .sectionLeft, .sectionRight{
      width: 100%;
    }
    .sectionRight form{
      padding: 1.5em;
    }
    .sectionRight input{
      width: 90%
    } ;
  }